.second-sidebar {
    position: fixed;
    top: 45px;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #252A31;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* Ensure it's above everything else */
    overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh; /* Ensures the sidebar stays within the viewport height */
  }
  
  .close-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  
  .second-sidebar h2 {
    margin-bottom: 20px;
  }
  
  .second-sidebar p {
    font-size: 16px;
  }

  .before_image{
    width: 90%;
    margin-bottom: 20%;
  }

  /* Scrollbar styling */
.second-sidebar::-webkit-scrollbar {
  width: 3px;
}

.second-sidebar::-webkit-scrollbar-thumb {
  background-color: #36BCBA;
  border-radius: 4px;
}

.second-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #36BCBA;
}
  

  
  